.list-table-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    padding: 12px 15px;
    gap: 10px;
    border: 1px solid #cacaca;
  }
  
  .list-table-format.title {
    background-color: #eee;
    font-weight: bold;
  }
  
  .list-table-format img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 3px;
  }
  
  .list-table-format p,
  .list-table-format b {
    margin: 0;
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  .cursor-action {
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .cross {
    cursor: pointer;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  
  .cross:hover {
    background-color: #f8d7da;
  }
  
  /* Media Queries for Responsive Design */
  
  /* For screens 768px and smaller */
  @media (max-width: 768px) {
    .list-table-format {
      grid-template-columns: 1fr 2fr 1fr;
    }
    
    .list-table-format img {
      width: 45px;
      height: 45px;
    }
  }
  
  /* For screens 480px and smaller */
  @media (max-width: 480px) {
    .list-table-format {
      grid-template-columns: 1fr 1fr;
    }
  
    .list-table-format img {
      width: 35px;
      height: 35px;
    }
  
    .list-table-format p,
    .list-table-format b {
      font-size: 14px;
    }
  
    .cross {
      font-size: 14px;
    }
  }
  


  
  